.app-content {
  margin-top: 160px;   
}

@media all and (max-width: 431px) {
  .app-content {
    margin-top: 230px;   
  }
}

@media all and (max-width: 341px) {
  .app-content {
    margin-top: 290px;   
  }
}