
.navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
}

.active {
    color: #FFFFFF;
}

.search {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#login-signup-div {
    width: 100%;
    height: 82.5vh;
    background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
    background-repeat: repeat-y;
    background-size: cover;
}

.topic-text-header {
    font-size: 1.1em;
}

.topic-text-body {
    font-size: 1.0em;
    color: #828282;
    margin-left: 10px;
}

.topic-text{
    width: 100%;
    word-wrap: break-word;
}

.rowMargin {
    /* margin-top: 2%; */
    margin-bottom: 1%;
}


/* Question List */

.question-header {
    color: #17A2B8
}

.question-header:hover {
    color: #008394;
    text-decoration: none;
}

.question-body {
    color: #9E9E9E
}

.question-body:hover {
    color: #828282;
    text-decoration: none;
}

/* Top bar Logo */

.navbar-default {
    background-color: #008394;
    /* border-color: #E7E7E7; */
}


.link-none-underline:hover {
    /* color: #FFFFFF; */
    text-decoration: none;
}

#link-none-underline {
    color: #f0f2fa;
}

#link-none-underline:hover {
    color: #828282;
    text-decoration: none;
}

/* Rounded Button */

.back404page {
    color: #FFFFFF;
}

.back404page:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.child {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#topicContainer {
    margin-top: 3%;
    width: inherit;
    margin-bottom: 3%;
}

#card-margin-top-bottom {
    margin-top: 3%;
    width: inherit;
    margin-bottom: 3%;
}

#topicCard {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border: none;
}

div.button3 {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    text-align: center;
    transition: all 0.2s;
}

div.button3 {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    text-align: center;
    transition: all 0.2s;
}

div.button3:hover {
    color: #828282;
}

div.button3#ask-submit {
    width: 10em;
    font-size: 1.3em;
}

@media all and (max-width:30em) {
    div.button3 {
        display: block;
        margin: 0.2em auto;
    }
}

/*  */

/* 404Page */

#main {
    display: table;
    width: 100%;
    height: 87.5vh;
    background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
    text-align: center;
}

.fof {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 60px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

/*  */

.top-logo {
    margin: 0 auto;
    color: #FFFFFF;
    -webkit-filter: brightness(1000%);
    filter: brightness(1000%) drop-shadow(5px 10px 15px rgba(255, 255, 255, 0.6));
    /* filter: drop-shadow(8px 8px 10px gray); */
    /* filter: contrast(1000%); */
}

/*  */