.ask__commentaries {
    /* display: block; */
    margin-top: 2%;
    border: none;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
}

.answer {
    margin-top: 2%;
    /* background-image: linear-gradient(20deg, #e9defa 0%, #fbfcdb 100%); */
    background-image: linear-gradient(to left bottom, #e9defa 0%, #fbfcdb 100%);
}

.ask__commentaries>p {
    padding: 8px 0;
    color: #9E9E9E;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: .3px
}

.ask__commentaries--doctor {
    background-image: url(./comment_background.svg);
    background-size: cover;
    background-position: 100%;
    position: relative;
    word-break: break-word
}

.ask__commentaries--doctor .best-answer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 -42px;
    padding: 18px 42px 19px
}

.ask__commentaries--user {
    margin-top: 2%;
    background-color: #F5F5F5;
    border: none;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
}

#card-top-bar {
    /* background: #9E9E9E; */
    width: 99%;
    height: 6vh;
    margin: 0 auto;
    display: table;
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 15px
}

.avatar__icon__doctor {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #f5f9fa;
    background-image: url(./Avatar-Doctor-Men.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.avatar__icon__user {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #f5f9fa;
    background-image: url(./Avatar-User.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.avatar__name {
    padding-left: 10px
}

.avatar__first,
.avatar__second {
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 13px
}

.ask__date {
    letter-spacing: 1.46px;
    color: rgb(80, 80, 80);
    font-size: 16px;
    width: 100%
}

.ask__date p {
    margin: 0
}

.ask__date--top {
    font-size: 0
}

.ask__date--top p {
    margin-right: 5px
}

/* Line With Text */

div.background {
    color: #17A2B7;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

div.background:before {
    border-top: 1.5px solid #17A2B7;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.5%;
    z-index: -1;
}

div.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}

/* --------------------------------- Line with Text --> answer   ------------------------------------------------------ */
div.background-answer {
    color: #fc6076;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

div.background-answer:before {
    border-top: 1.5px solid #fc6076;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.5%;
    z-index: -1;
}

div.background-answer span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}